 
 
 body {background-color: #e8ffff;}

 hr {border-color: grey;
    border-style:  dotted none none none;
    border-width: 5px;
    width: 99%;
   }
   
 h3  {color: #00416d; }
 body{color: #7579e7;}
 